[push]
  default = simple
[user]
  name = Eugene Korekin
  email = azcore@gmail.com
[color]
  ui = auto
[alias]
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  scopelist = "! f() { echo 'global settings'; git config --global --get-regexp $1; echo 'local settings'; git config --get-regexp $1; }; f"
[core]
  fscache = true
  quotepath = false
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[gitreview]
  remote = origin
  remote = origin
